h1 {
    font-family: Helvetica;
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    text-align: center;
}

.imgh1 {
    background-image: url('pattern.jpeg');
    background-size: cover; /* Ensures the image covers the entire container area */
    background-position: center; /* Centers the image */
    
    /* Define a height for the container to display the image */
    height: 200px; 
    
    /* Center the h1 text vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center
}

.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

h3 {
    font-weight: bold;
}