h1 {
    font-family: Helvetica;
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgh1 {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

h3 {
    font-weight: bold;
}