h1 {
    position: relative;
    font-family: Helvetica;
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    text-align: center;
}

.imgh1 {
    position: relative; /* Essential for positioning child elements relative to this container */
    height: 200px;
}

.background-image {
    position: absolute; /* Position the image relative to its parent container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    z-index: -1;
}

.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

h3 {
    font-weight: bold;
}